* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: 1px solid green; */
    mix-blend-mode: multiply;
    transition: all 300ms ease;
}

html {
    scroll-behavior: smooth;
    /* overflow: hidden; */
    scroll-snap-type: y mandatory;
}

body {
    font-family: 'Anaheim', sans-serif;
    overflow: hidden;
    background-color: rgb(231, 228, 226);

}





.site-wrapper {
    background-color: lightgray;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

nav.site-navigation {
    height: 5vh;
    width: 100vw;
    /* background-color: lightgray; */
    border: 2px dotted blue;
    /* background-color: rgba(255, 255, 255, 0.507); */
    position: fixed;
    top:0;
    right:0;
    z-index: 99999;

}

nav ul {
    width: 40vh;
    list-style-type: none;
    display:flex;
    padding:0 2vw;
    flex-wrap: nowrap;
    justify-content: flex-start;
    flex-direction: row;
    height: 100%;
    gap: 1%;
}

nav li {
    /* padding: 1vw; */
    background-color: white;
    height: 100%;
    /* border: 1px solid red; */
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    display: flex;
    /* align-content: center; */
}

nav li:not(:last-child)::after {
    content: "/";
    display: block;
    margin: auto auto;
}


nav li:hover {
}

nav a {
    margin: auto 0;
    text-decoration: none;
    display: block;
}

.contents-wrapper {
    /* background-color: lightgray; */
    width: 100vw;
    height: 100vh;
    /* border: 2px dotted green; */
    /* overflow: hidden; */
    z-index: -999;
    /* background-color: white; */

}

main {
    display:flex;
    border: 1px solid greenyellow;
    flex-direction: row;
    flex-wrap: nowrap;
    gap:1vh;
    width: 100%;
    margin: 0 auto;

}

section.portfolio-items {
    height: 100vh;
    min-width: 99vw;
    border: 1px solid red;
    padding:6vh 2vw;
    display: flex;
    gap:0vw;
    flex-direction: column;
    margin: auto auto;
    scroll-snap-align: start;
    flex: 1 1 900px;
    flex-wrap: wrap;
    align-items:stretch;
}

section.portfolio-items .items-leftTop,
section.portfolio-items .items-rightBottom {
    /* background-color: rgb(230, 136, 136); */
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 100vw;
    min-width: 50%;
    /* height: 100%; */
    border: 1px solid black;
    padding: 3vh 3vw;
    overflow-x: hidden;
}

.portfolio-navigation {
    height: 100%;
    width: 5%;
    /* background-color: lightgray; */
    /* border: 2px dotted blue; */
    /* background-color: rgba(255, 255, 255, 0.568); */
    z-index: 0;
    position: fixed;
    top:0;
    right:0;
    left: unset;
    bottom: unset;
}

.portfolio-navigation menu {
    list-style-type: none;
    display: flex;
    flex-wrap:wrap;
    flex-direction:column;
    gap:0.3vh;
    height: 100%;
    width: 100%;
    /* background-color: #ffffff6e; */
    /* border: 3px dashed green; */
    padding: 1vh;
    padding-left:0;
}

.portfolio-navigation .portfolio-navigation-items {
    width: 100%;
    /* background-color: rgba(255, 255, 255, 0.308); */
    /* border: 1px solid red; */
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 3%;
    display: flex;
}

.portfolio-navigation .portfolio-navigation-items:nth-child(3) {
    flex-grow: 14;
}

.portfolio-navigation .portfolio-navigation-items a {
    margin: auto;
    font-size: 3em;
    text-decoration: none;
}


.portfolio-navigation .portfolio-navigation-items:nth-child(3) a{
    font-size: 1.3em;
    text-decoration: none;
    margin: auto;
    writing-mode: vertical-rl;
    text-orientation: mixed;
}

.portfolio-navigation .portfolio-navigation-items:nth-child(4) a{
    font-size: 2em;
    text-decoration: none;
    margin: auto;
}

@media (max-width: 600px) {
    .portfolio-navigation { 
        height: 9%;
        width: 100%;
        left: 0;
        bottom: 0;
        top: unset;
        right: unset;
    }

    .portfolio-navigation menu {
        list-style-type: none;
        display: flex;
        flex-wrap:wrap;
        flex-direction:row;
        gap:0.3vh;
    }

    .portfolio-navigation .portfolio-navigation-items:nth-child(3) a{
        writing-mode: unset;
        text-orientation: unset;
    }

    nav ul {
        width: 100vw;
        justify-content: center;
    }

    nav li {
        justify-content: center;
        /* border: 1px solid green; */
        margin: auto auto;
    }

    nav a {
        margin: auto;
        text-decoration: none;
        display: block;
    }

    nav li:not(:last-child)::after {
        content: "/";
        display: block;
        margin: auto 0;
    }

    section.portfolio-items {
        flex-direction: row;
    }

    section.portfolio-items .items-leftTop,
    section.portfolio-items .items-rightBottom {
    /* background-color: rgb(230, 136, 136); */
    min-height: 50%;
    flex-grow: 1; }
    

}

a {
    color: blue;
}

a:hover {
    /* transform: scale(1.2, 1.2) rotate(10deg); */
    color:white;    
    background-color: blue;
}