:root {
    --light-background: #eeeeed;
    --light-background-text: #1b1b1b;
    --border-color: #8f8f8f33; 
    --accent-color: #5aada6;
    --accent-color-danger: #d65858;
    --no-color: #ffffff00;
  }

  
  ::selection {
    background: var(--accent-color);
    color: var(--light-background);
  }  

* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: 1px dotted silver; */
}




body {
  font-family: 'Anaheim', sans-serif;
}

/* layout container */
.layout-container {
    background-color: var(--light-background);
    height: 100dvh;
    width: 100dvw;
}

/* header container */
.header {
  background-color: var(--light-background);
  /* border: 1px solid black; */
  padding: 1dvh 2dvh;
  height: 5dvh;
  width: 100%;
  position: fixed;
  top:0;
  right:0;
  display:flex;
  align-items: center;
}

/* content container */
.contents {
  background-color: var(--no-color);
  height: 91%;
  width: 100%;
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
  /* overflow-x: scroll; */
  gap: 5vh;
  justify-content: flex-start;
  flex-wrap: nowrap;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.content-wrap {
  flex: 1 0 auto;
  background-color: var(--no-color);
  display: grid;
  grid-template-areas:
  "contentA"
  "contentB";
  width: 100%;
  height: 100%;
  grid-template-columns: 100vw;
  grid-template-rows: 1fr 1fr;
  scroll-snap-align: center;
}

.content-A, .content-B {
/* border: 2px solid var(--border-color); */
padding:2vh 2vh;
overflow: hidden;
}

.content-A {
margin-top: 5vh;
grid-area: contentA;
background-color: rgba(255, 255, 255, 0.747);
}

.content-B {
grid-area: contentB;
background-color: rgba(255, 255, 255, 0.863);
}


/* button container */
.buttons-container {
background-color: var(--no-color);
/* border: 1px solid var(--border-color); */
height: 9dvh;
width: 100dvw;
position: absolute;
bottom:0;
right: 0;
z-index: 10;
padding: 1dvh 1dvh;
display: flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: space-between;
}

.buttons-container > * {
  background-color: var(--no-color);
  width: 15%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 100ms ease-in-out;
  /* border-right: 1px solid black; */
}

.buttons-container .button-title {
  background-color: var(--no-color);
  flex-grow:1;
  height: 100%;
}

.buttons-container .button-title span {
  width: 100%;
  text-align: center;
}


.buttons-container > *:hover {
  font-size: 2em;
  cursor: pointer;
}

.buttons-container .button-title:hover {
  font-size: 1em;
}


/* all pages menu container */

.allpages-menu-container {
  width: 100dvw;
  height: 100dvh;
  background-color: var(--light-background);
  position: absolute;
  top:0;
  z-index: 998;
  padding:12vh 0;
 }


.allpages-menu-button {
  background-color: var(--light-background);
  /* border: 1px solid black; */
  position: relative;
  width: 90%;
  height: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-flow: row wrap;
  gap:10px;
  left:0;
  right:0;
  top:0;
  bottom:0;
  margin:auto; 
}

.allpages-menu-button > * {
  padding:2.3vh;
  align-items: center;
  height: 5%;
  min-width: 10%;
  background-color: rgb(207, 222, 226);
  color:black;
  cursor: pointer;
  flex-shrink: 1;
  flex-grow: 0;
  flex-basis: auto;
  display: flex;
  justify-content: center;
}


.allpages-menu-button > *:nth-child(odd) {
  background-color: rgb(233, 229, 223);
}

.allpages-close-menu {
  background-color: var(--accent-color-danger);
  width: 100dvh;
  height: 10dvh;
  position: absolute;
  bottom:0;
  right: 0;
  z-index: 999;
  cursor: pointer;
}

@media screen and (min-width: 768px) {

  .header {
    padding: 1vh 4vh;
  }

  .contents {
    width: 100vw;
    padding: 6vh 4vh;
    height: 100vh;

  }

  .content-wrap {
    height: 100%;
    grid-template-areas:
    "contentA contentB";
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    margin-top: unset;

  }

  .content-A {
    margin-top: unset;
    grid-area: contentA;
    }

  .buttons-container {
    height: 100%;
    width: 5%;
    bottom:unset;
    top:0;
    z-index: 10;
    padding: 1vh 1vh;
    flex-direction: column;
    }

    .buttons-container > * {
      width: 100%;
      height: 15%;
      /* border-right: unset;
      border-bottom: 1px solid black; */
    }
    
    .buttons-container .button-title {
      width: 100%;
      flex-grow:1;
    }
    
    .buttons-container .button-title span {
      /* transform: rotate(90deg); */
      writing-mode: vertical-lr;
      text-align: center;
      /* background-color: red; */
      display:flex;
      justify-content:center;
      align-items:center;
    }


    .allpages-menu-button {
      width: 30%;
    } 

    .allpages-close-menu {
      width: 10dvh;
      height: 100dvh;
      bottom: unset;
      top:0;
    }

}


/* all layout */

.hidden {
  display: none;
}

.single-content {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
}
